* {
    margin: 0px;
    padding: 0px;
}

main {
    width: 60%;
    margin-left: 20%;
    background-color: ghostwhite;
}

header {
    background-color: azure;
    color: cadetblue;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


article ul {
    width: 70%;
    margin-top: 20px;
    list-style: none;
}


article li {
    display: flex;
    align-items: center;
    text-align: center;
    height: 40px;
    border: 5px dashed rgb(90, 90, 90);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(196, 217, 255);
}

article li:hover {
    background-color: rgb(255, 215, 221);
}

article a {
    color: navy;
    text-decoration: none;
}

a:hover {
    color: red;
}