section > h1 {
    border: 2px solid rgb(47, 135, 161);
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    background-color: rgb(61, 158, 187);
}

section>div {
    border: 0px;
    display: flex;
    flex-direction: column;
}

section span {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: black;
  font-weight: bold;
  margin: 5px;
}


.sp0 {
  background-color: rgb(189, 104, 146);
  color: white;
}
.sp1 {
  background-color: rgb(216, 187, 107);
  color: white;
}
.sp2 {
  background-color: rgb(104, 187, 104);
  color: white;
}
.sp3 {
  background-color: rgb(122, 127, 199);
  color: white;
}
.sp4 {
  background-color: rgb(112, 204, 176);
  color: white;
}


/* #num {
    border: 1px solid darkblue;
    border-radius: 50%;
    width: 50px;
    height: 30px;
    text-align: center;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: navy;
    font-weight: bold;
    margin: 10px;
} */




  p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
  }
  
  button { 
    height: 70px;
    width: 100px;
    background-color:rgb(78, 91, 232);
    color: white;
    border: 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
  }
  
  
  button:hover {
    background-color: rgb(0, 1, 80);
    cursor: pointer;
  }